<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>Controller.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekLogin</servlet-name>
        <servlet-class>Controller.CekLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>Controller.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>Controller.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomer</servlet-name>
        <servlet-class>Controller.ListCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomType</servlet-name>
        <servlet-class>Controller.AddRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomType</servlet-name>
        <servlet-class>Controller.ListRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomType</servlet-name>
        <servlet-class>Controller.UpdateRoomType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>Controller.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoom</servlet-name>
        <servlet-class>Controller.ListRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>Controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentIn</servlet-name>
        <servlet-class>Controller.RentIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTransaction</servlet-name>
        <servlet-class>Controller.ListTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRentOut</servlet-name>
        <servlet-class>Controller.ListRentOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentOut</servlet-name>
        <servlet-class>Controller.RentOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMonthlyPaid</servlet-name>
        <servlet-class>Controller.AddMonthlyPaid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMonthlyPaid</servlet-name>
        <servlet-class>Controller.ListMonthlyPaid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekLogin</servlet-name>
        <url-pattern>/CekLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomer</servlet-name>
        <url-pattern>/ListCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomType</servlet-name>
        <url-pattern>/AddRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomType</servlet-name>
        <url-pattern>/ListRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomType</servlet-name>
        <url-pattern>/UpdateRoomType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/AddRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoom</servlet-name>
        <url-pattern>/ListRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/UpdateRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentIn</servlet-name>
        <url-pattern>/RentIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTransaction</servlet-name>
        <url-pattern>/ListTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRentOut</servlet-name>
        <url-pattern>/ListRentOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentOut</servlet-name>
        <url-pattern>/RentOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMonthlyPaid</servlet-name>
        <url-pattern>/AddMonthlyPaid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMonthlyPaid</servlet-name>
        <url-pattern>/ListMonthlyPaid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
